<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Користувачі AD</title>
    <script>
        async function resetPassword(userCn) {
            const response = await fetch('/reset_password', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ user_cn: userCn })
            });
            const result = await response.json();
            alert(result.message);
            if (result.success) {
                location.reload();
            }
        }

        async function toggleStatus(samAccountName, action) {
        const response = await fetch('/toggle_status', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ sam_account_name: samAccountName, action: action })
        });
        const result = await response.json();
        alert(result.message);
        if (result.success) {
            location.reload();
        }
    }
    </script>


    <style>
        .disabled-user {
            background-color: #ffcccc; /* Світло-червоний для відключених */
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Список користувачів Active Directory</h1>
<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>Ім'я</th>
        <th>Ім'я облікового запису</th>
        <th>Статус</th>
        <th>Дія</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr class="{{ 'disabled-user' if user.disabled else '' }}"> <!-- Додано клас -->
        <td>{{ user.cn }}</td>
        <td>{{ user.sam_account_name }}</td>
        <td>{{ "Відключений" if user.disabled else "Активний" }}</td>
        <td>
            <button onclick="resetPassword('{{ user.sam_account_name }}')">Скинути пароль</button>
        </td>
        <td>
            <button onclick="toggleStatus('{{ user.sam_account_name }}', '{{ 'disable' if not user.disabled else 'enable' }}')">
                {{ "Відключити" if not user.disabled else "Активувати" }}
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
